.navbar {
  height: 12.5vh;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  padding-right: 1vw;
}
